.article{
  font-size: 36px;
  text-align: left;
  color: #ffffff;
  padding: 5px;
  display: none;
  margin-bottom: 10px;
}
.article-image{
  max-height: 150px;
  float: left;
}
.article-body{
  float: left;
  font-weight: 500;
  margin-left: 10px;
}
.article:after { content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin: 0; padding: 0; }
.article-image img{
  max-height: 150px;
}
.article-body > div > div{
  display: inline-block;
  margin-left: 20px;
}
.article-body > div > div:first-child{
  display: inline-block;
  margin-left: 0;
}
.article .price{
  color: #fffb3e;
}
.article-spec{
  display: block;
  float: right;
  text-align: center;
}
.article button{
  height: 100px;
  width: 100px;
}