main{
  min-height: calc(100% - 350px);
}
main span{
  display: block;
  font-size: 40px;
}
main h1{
  font-size: 60px;
}
form{
  font-size: 40px;
  margin: 100px auto;
  text-align: left;
}
main p{
  font-size: 16px;
  line-height: 1.15;
  margin: 16px 0;
  text-align: left;
}
form ~ * > a{
  color: #fffb3e;
  text-decoration: none;
}
hr{
  margin: 50px 0;
}
form input, form label{
  display: block;
  width: 600px;
  margin: 10px auto;
}
form input{
  font-size: 48px;
  padding: 10px;
}
form input[type="submit"]{
  background: #fffb3e;
  color: #000000;
  border: none;
  border-radius: 5px;
}
form.reg i{
  font-size: 26px;
  display: block;
  line-height: 1.15;
  color: #cccccc;
}