body{
    background-color: #343135;;
    color: #eae2fc;
}
button{
    background: #3c3742;
    color:#eae2fc;
}
button svg{
    fill: #eae2fc;
}
a, a:hover{
    color:#eae2fc;
}
.header{
    background: #27262c;
}
#sidebar{
    background: #27262c;
    color:#eae2fc;
}
.card{
    background: #27262c;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #0018FF;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: rgb(238 234 244) 0px 0px 5px inset;
    border-radius: 10px;
}
.submenu__elements{
    background: #343135;
}
.menu__element, .element__icon{
    fill: #eae2fc;
}
.menu__element.active{
    box-shadow: rgb(31 199 212) 4px 0px 0px inset;
}
.logo-main-color{
    fill: #ffffff;
}

.exchange-swap-btn{
    fill: #c9c4d4;
}
.exchange__menu .btn-group{
    background: #483f5a;
}
.exchange__menu a{
    color: #c9c4d4;
}
.exchange__menu a.active{
    background: #0018FF;
    color: #ffffff;
}
.exchange-card{
    background: #27262c;
}
.exchange-input{
    background: #483f5a;
    color: #c9c4d4;
}
.exchange-input input{
    color: #c9c4d4;
}
.theme{
    background: #353547;
}
.theme svg.active{
    fill: #eae2fc;
}
.plus1{
    border: 2px solid #c9c4d4;
}
.plus1 svg{
    fill: #c9c4d4;
}
.plus2{
    background: #c9c4d4;
    color: #27262c;
}
.popup{
    background: #ffffff11;
}