body{
    background-color: #faf9fa;
    color: #000000;
}
button{
    background: #efefef;
    color: #000000;
}
button svg{
    fill: #000000;
}
a, a:hover{
    color: #000000;
}
.header{
    background: #ffffff;
}
#sidebar{
    background: #ffffff;
    color: #000000;
}
.card{
    background: #ffffff;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #0018FF;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: rgb(238 234 244) 0px 0px 5px inset;
    border-radius: 10px;
}
.submenu__elements{
    background: #faf9fa
}
.menu__element.active{
    box-shadow: rgb(31 199 212) 4px 0px 0px inset;
}

.exchange__menu .btn-group{
    background: #eeeaf4;
}
.exchange__menu a{
    color: #0018FF;
}
.exchange__menu a.active{
    background: #0018FF;
    color: #ffffff;
}
.exchange-card{
    background: #ffffff;
}
.exchange-input{
    background: #eeeaf4;
}
.theme{
    background: #eeeaf4;
}
.theme svg.active{
    fill: #000000;
}
.plus1{
    border: 2px solid #000000;
}
.plus2{
    background: #000000;
    color: #ffffff;
}
.popup{
    background: #00000011;
}
.exchange-settings-buttons button.active{
    background: #0018FF;
    color: #ffffff;
}