*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 100;
}
html{
  height: 100%;
}
body{
  height: 100%;
  color: #ffffff;
  background-image: url("../img/light-green-vector-background-with-dots-lines_6869-1443.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* HEADER */
  header{
    background-image: linear-gradient(#016B2B, #000000);
    padding: 25px;
    height: 200px;
    vertical-align: middle;
    margin-bottom: 150px;
  }
  .logo{
    position: relative;
    display:  table-cell;
    height:  100%;
    vertical-align:  middle;
    float: left;
  }
  .logo img{
    margin-right: 30px;
    float:left;
    max-height: 150px;
  }
  header h1{
    margin-top: 22px;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
    font-size: 40px;
  }
  .nav-button{
    max-height: 150px;
    float: right;
    margin: 25px 25px 0 0;
  }
  header a{
    text-decoration: none;
    color: #ffffff;
  }
/* HEADER */


/* NAV */
#menu, #fltr{
  position: fixed;
  top: 0;
  left: -100%;
  /* transform: translate(-100%); */
  transition: left 1s ease;
  height: 100%;
  width: 100%;
  background: #004b1e;
  font-size: 32px;
}
#menu li{
  display: block;
  background: #016B2B;
  border-bottom: 2px solid #000000;
  padding: 10px 30px;
  font-weight: 200;
}
.head{
  background-image: linear-gradient(#016B2B, #000000);
  padding: 25px;
  width: 100%;
  height: 200px;
  color: #ffffff;
}
#menu li.span{
  background: #004b1e;
  font-style: italic;
  color: #cccccc;
}
nav h1{
  margin-top: 35px;
  text-align: center;
  width: calc(100% - 150px);
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  font-size: 60px;
  font-style: normal;
}
nav a{
  font-style: normal;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
}

#fltr table{
  margin: calc(50vh - (400px + 495px) / 2) auto;
}
#fltr td:first-child{
  padding-right: 10px;
  text-align: right;
}
.rooms div {
  display: inline-block;
}
.rooms label{
  text-align: center;
  width: 100%;
  display: block;
  width: 100px;
  font-size: 32px;
  background: #cccccc;
  color: #000000;
  cursor: pointer;
}
.rooms input{
  display: none;
}
input:checked + label{
  background: #aaaaaa;
}
#fltr iframe{
  display: block;
}
.price input{
  font-size: 32px;
  width: 100px;
}
.foot{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}
#fltr input[type="submit"]{
  width: 100%;
  height: 200px;
  font-size: 72px;
  background: #fffb3e;
  color: #000000;
  border: none;
}
/* NAV */


/* MAIN */
main{
  font-weight: 300;
  padding: 0 50px;
  text-align: center;
}
main h1{
  font-size: 40px;
  font-weight: 500;
}
main h2{
  font-size: 16px;
  font-weight: 300;
}
main h5{
  font-size: 16px;
  font-weight: 300;
}
main .image-row{
  max-height: 200px;
}
main .images{
  margin: 50px 0;
}
main .images img{
  max-width: 20%;
}
main .yt{
  margin: 150px 0 50px 0;
}
main .trial{
  background: #fffb3e;
  color: #000000;
  font-size: 32px;
  width: 600px;
  height: 100px;
  margin: 50px;
  border: none;
  border-radius: 5px;
}

/* MAIN */