@import url('https://fonts.googleapis.com/css?family=Poiret+One');
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
#header{
    color: #ffffff;
    position: fixed;
    background: #000000;
    padding-top:10px;
    transition: all 1s ease-in-out;
}
.parallax { 
    /* The image used */
    background: #000000;

    /* Set a specific height */
    height: 620px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax img{
    height: 50%;
}
#works{
    height: 1240px;
}
.nav-link{
     font-size: 18px;
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
     transition:.5s;
     color: #ffffff;
    }
.nav-link:focus{
    border: none;
    outline: none;
}
.nav-link:hover{
   
    border-bottom: 4px solid white;
}
.logo{
    font-family: 'Poiret One';
    font-size: 34px;
}