*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
header{
    color: #ffffff;
    position: fixed;
}
#home { 
    /* The image used */
    background: url(images/background.png);

    /* Set a specific height */
    height: 620px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#works{
    height: 620px;
}
