@import url('https://fonts.googleapis.com/css?family=Poiret+One';);

*{
    font-family: "Poiret One";
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
header{
    color: #ffffff;
    position: fixed;
}
#home {
    background: url(images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#works{
}
h1{
    text-align: center;
    margin-bottom: 1em;
}
